<div class="limiter">
    <div class="container-login100 page-background">
        <div class="wrap-login100 gradient-background">
            <form [formGroup]="loginForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
                <span class="login100-form-logo img-logo">
                    <img alt="" src="../../assets/images/igs-logo-white.png">
                </span>                
                <span class="login100-form-title p-b-34 p-t-27 title-container">
                    <h2 class="title-big">Forgotten password?</h2>                    
                    <h2 class="title-hint">Enter your email to reset your password</h2>
                </span>                
                <div class="form-group auth-form-group mb-4 wrap-input100">                    
                    <input type="email" formControlName="email" class="form-control auth-control input100" id="email"
                      placeholder="Email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
                      <i class="material-icons focus-input1001">email</i>
                    <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                      <div *ngIf="formControls.email.errors.required">Email is required</div>
                      <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger mb-3 mt-0" role="alert">{{error}}</div>
                <div *ngIf="success" class="alert alert-success" role="alert">Your reset instructions were sent to your inbox</div>
                <div class="container-login100-form-btn">
                    <a class="txt1">
                        <button type="submit" class="btn btn-outline-danger btn-border-radius btn-submit">Send</button>
                    </a>
                </div>
                <div class="text-center p-t-50 hint-btn-container">                    
                    <a class="txt1" routerLink="/authentication/signin">Want to login?</a>
                </div>
            </form>
        </div>
    </div>
</div>
