<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form">
        <span class="error-header p-b-45 message">
          Looks like you are lost, the page you are looking for is not available!
        </span>
        <div class="container-login100-form-btn p-t-30	">
          <button color="primary" class="login100-form-btn" (click)='submit()'>
            Go To Home Page
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
