<div class="limiter">
    <div class="container-login100 page-background">
        <div class="wrap-login100 gradient-background">
            <form [formGroup]="resetPwdForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
                <span class="login100-form-logo img-logo">
                    <img alt="" src="../../assets/images/igs-logo-white.png">
                </span>                
                <span class="login100-form-title p-b-34 p-t-27 title-container">
                    <h2 class="title-big">Reset your password</h2>                    
                    <h2 class="title-hint">Enter your password and confirmation</h2>
                </span>        
                
                <div class="wrap-input100">                    
                    <input type="password" formControlName="password" class="input100 font-16" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" placeholder="Password"/>
                    <i class="material-icons focus-input1001">lock</i>
                    <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                        <div *ngIf="formControls.password.errors.required">Password is required</div>
                        <div *ngIf="formControls.password.errors.minlength">Password must be at least 5 characters</div>
                    </div>
                </div>
                <div class="wrap-input100">                    
                    <input type="password" formControlName="confirmPassword" class="input100 font-16" [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" placeholder="Confirm Password"/>
                    <i class="material-icons focus-input1001">lock</i>
                    <div *ngIf="submitted && formControls.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="formControls.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="formControls.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <a class="txt1">
                        <button type="submit" class="btn btn-outline-danger btn-border-radius btn-submit">Reset my password</button>
                    </a>
                </div>
                <div class="text-center p-t-50 hint-btn-container">                    
                    <a class="txt1" routerLink="/authentication/signin">Want to login?</a>
                </div>
            </form>
        </div>
    </div>
</div>
